/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.css
 */

html, body {
    background: #eeeeee !important;
    font-size: 16px !important;
}

.btn {
    color: white !important;
}

.header{
    height: 50px;
}

.contain{
    float: left;
    padding: 10px;
}

.col-lg-11{
    margin-top: 45px;
}

.search {
    float: right;
    padding: 10px;
}

pre{
    white-space: pre !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -ms-text-overflow: ellipsis !important;
    display: block !important;
    -moz-binding: url('ellipsis.xml#ellipsis') !important;    /* for Firefox; details here */
}

