/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.css
 */

.btn {
    color: white !important;
}

html {
    font-size: 18px !important;
}

.container{
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.table tr:nth-child(even) { background-color: #f7f7f7; }

.table tr:hover{
    background-color: #CCCCCC;
}

.previous_page:hover {
    background: none;
}

.next_page:hover {
    background: none;
}

